- if mobile_device?
  = javascript_include_tag 'jquery.min'
  = javascript_include_tag 'jquery_ujs'
  = javascript_include_tag 'calendar'
  = javascript_include_tag 'calendar-mobile'
- else
  = javascript_include_tag 'calendar'
  = javascript_include_tag 'calendar-html'
= stylesheet_link_tag 'calendar'
- if mobile_device?
  = stylesheet_link_tag 'calendar-mobile'
#text

  %h1 Calendar

  #calendar