!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  = render :partial => 'layouts/head'
  %body
    = render :partial => 'layouts/header'
    = render :partial => 'layouts/navigation'
    #middle-main
      = render :partial => 'layouts/search'
      / Begin Content
      #content-main
        #content-both
          #content-left
            = render :partial => 'layouts/sidebar'
          #content-right
            = render :partial => 'layouts/notifications'
            = yield
      / End Content
    = render :partial => 'layouts/footer'
